<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.blog.mapper.extend.BlogArticleLabelRExtendMapper">
    <insert id="batchSave">
        <if test="articleLabelRS != null and articleLabelRS.size() > 0">
            insert into blog_article_label_r(id, article_id, label_id)
            <foreach collection="articleLabelRS" item="r" separator="," open="values" close=";">
                (#{r.id, jdbcType=VARCHAR},
                #{r.articleId, jdbcType=VARCHAR},
                #{r.labelId, jdbcType=VARCHAR})
            </foreach>
        </if>
    </insert>
</mapper>