<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.blog.mapper.extend.BlogArticleExtendMapper">
    <select id="selectByUserId" resultType="com.duke.microservice.blog.domain.extend.BlogArticleList">
        SELECT
            ba.id          AS id,
            ba.title       AS title,
            ba.summary     AS summary,
            ba.create_time AS publishTime,
            bl.id          AS labelId,
            bl.`name`      AS labelName,
            bt.id          AS typeId,
            bt.NAME        AS typeName
        FROM
            blog_article ba
            LEFT JOIN blog_article_label_r balr ON ba.id = balr.article_id
            LEFT JOIN blog_label bl ON balr.label_id = bl.id
            LEFT JOIN blog_article_type_r batr ON ba.id = batr.article_id
            LEFT JOIN blog_type bt ON balr.label_id = bt.id
        WHERE ba.user_id = #{userId, jdbcType=VARCHAR}
    </select>
</mapper>