<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.blog.mapper.extend.BlogLabelExtendMapper">
    <select id="selectByUserId" resultType="com.duke.microservice.blog.domain.basic.BlogLabel">
        select
            id   as id,
            name as name
        from blog_label
        where user_id = #{userId, jdbcType=VARCHAR} and `status` = 0;
    </select>

    <insert id="batchSave">
        <if test="labels != null and labels.size() > 0">
            insert into blog_label(id, `name`, create_time, modify_time, user_id, status)
            <foreach collection="labels" item="label" separator="," open="values">
                (#{label.id, jdbcType=VARCHAR},
                #{label.name, jdbcType=VARCHAR},
                #{label.createTime, jdbcType=VARCHAR},
                #{label.modifyTime, jdbcType=VARCHAR},
                #{label.userId, jdbcType=VARCHAR},
                0)
            </foreach>
        </if>
    </insert>

    <select id="selectByArticleIds" resultType="java.util.Map">
        select
          bl.id           as id,
          bl.name         as labelName,
          balr.article_id as articleId
        from blog_label bl
                 inner join blog_article_label_r balr on balr.label_id = bl.id
        where balr.article_id in
        <foreach collection="articleIds" open="(" close=")" separator="," item="articleId">
            #{articleId, jdbcType=VARCHAR}
        </foreach>
    </select>

    <update id="deleteById">
        update blog_label set status = 1, modify_time = now() where id = #{id, jdbcType=VARCHAR}
    </update>
</mapper>