<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.blog.mapper.basic.BlogArticleMapper" >
  <resultMap id="BaseResultMap" type="com.duke.microservice.blog.domain.basic.BlogArticle" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="article_views" property="articleViews" jdbcType="INTEGER" />
    <result column="navigation" property="navigation" jdbcType="LONGVARCHAR" />
    <result column="html_content" property="htmlContent" jdbcType="LONGVARCHAR" />
    <result column="md_content" property="mdContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from blog_article
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.duke.microservice.blog.domain.basic.BlogArticle" >
    insert into blog_article (id, title, summary, 
      status, create_time, modify_time, 
      user_id, article_views, navigation, 
      html_content, md_content)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{articleViews,jdbcType=INTEGER}, #{navigation,jdbcType=LONGVARCHAR}, 
      #{htmlContent,jdbcType=LONGVARCHAR}, #{mdContent,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.duke.microservice.blog.domain.basic.BlogArticle" >
    update blog_article
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      article_views = #{articleViews,jdbcType=INTEGER},
      navigation = #{navigation,jdbcType=LONGVARCHAR},
      html_content = #{htmlContent,jdbcType=LONGVARCHAR},
      md_content = #{mdContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, title, summary, status, create_time, modify_time, user_id, article_views, 
    navigation, html_content, md_content
    from blog_article
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, title, summary, status, create_time, modify_time, user_id, article_views, 
    navigation, html_content, md_content
    from blog_article
  </select>
</mapper>