<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.blog.mapper.basic.BlogArticleTypeRMapper" >
  <resultMap id="BaseResultMap" type="com.duke.microservice.blog.domain.basic.BlogArticleTypeR" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from blog_article_type_r
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.duke.microservice.blog.domain.basic.BlogArticleTypeR" >
    insert into blog_article_type_r (id, article_id, type_id
      )
    values (#{id,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.duke.microservice.blog.domain.basic.BlogArticleTypeR" >
    update blog_article_type_r
    set article_id = #{articleId,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, article_id, type_id
    from blog_article_type_r
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, article_id, type_id
    from blog_article_type_r
  </select>
</mapper>